* {
  font-family: sans-serif;
}

.context {
  display: flex;
  flex-direction: row;
  justify-content: center;
  top: 10px;

  .col {
    display: flex;
    flex-direction: column-reverse;
    justify-content: center;

    .item {
      border: 1px solid rgba(0, 0, 0);
      width: 27px;
      height: 27px;
      text-align: center;

      // &.blue {
      //   background-color: rgb(115, 115, 241);
      // }

      // &.red {
      //   background-color: #a41623;
      // }

      // &.wall {
      //   background-color: black;
      // }

      // &.must {
      //   background-color: violet;
      // }

      // &.power {
      //   background-color: rgb(238, 238, 149);
      // }

      // .red_player {
      //   width: 25px;
      //   height: 25px;
      //   background-color: rgb(204, 77, 94);
      //   border: 1px solid red;
      //   border-radius: 50%;
      // }

      // .blue_player {
      //   width: 25px;
      //   height: 25px;
      //   background-color: rgb(77, 77, 204);
      //   border: 1px solid blue;
      //   border-radius: 50%;
      // }
    }
  }
}

body,
html {
  // overflow-x: hidden;
  margin: 0;
  padding: 0;
}

.color_picker {
  display: flex;
  flex-direction: column;
  justify-content: center;
  text-align: center;
  align-items: center;
  gap: 10px;

  p {
    text-align: center;
  }
}

input[type="number"] {
  border-bottom: 1px solid black;
  border-radius: 0;
  text-align: center;
  width: 100px;
}

button,
input {
  width: 80px;
  outline: 0;
  border: 0;
  height: 30px;
  border-radius: 10px;
}

.inline {
  margin-top: 20px;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
}
.settings {
  display: flex;
  flex-direction: column;
}

.output {
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  margin-left: 1%;
  margin-top: 1%;
  top: 10px;
}

.btns {
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin: 10px auto;
  gap: 5px;
  width: 20%;
}

.size-box {
  margin: 10px auto;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;

  p {
    margin: 10px;

    input {
      outline: none;
      height: 30px;
      width: 30px;
      text-align: center;
    }
  }
}
